<!DOCTYPE html>
 <html lang="es">
        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta charset="utf-8">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <title>&nbsp;&nbsp; BolitaBook :3 - @ViewBag.Title</title>

            <!-- Vendor CSS -->
            <link href="@Url.Content("~/Content/css/fullcalendar.min.css")" rel="stylesheet">
            <link href="@Url.Content("~/Content/css/animate.min.css")" rel="stylesheet">
            <link href="@Url.Content("~/Content/css/sweet-alert.css")" rel="stylesheet">
            <link href="@Url.Content("~/Content/css/material-design-iconic-font.min.css")" rel="stylesheet">
            <link href="@Url.Content("~/Content/css/jquery.mCustomScrollbar.min.css")" rel="stylesheet">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
            <!-- CSS -->
            <link href="@Url.Content("~/Content/css/app.min.1.css")" rel="stylesheet">
            <link href="@Url.Content("~/Content/css/app.min.2.css")" rel="stylesheet">

            <link rel="icon" href="@Url.Content("~/Content/img/icons/icono2.ico")">         

        </head>
        <body>
            <!-- ==============================================   HEAAADER ==================================================== -->          
            <!--header-->
            @{Html.RenderPartial("_Header");}


            <section id="main" data-layout="layout-1">
                <!-- ==============================================   SIDEBAR ==================================================== -->               
                @{Html.RenderPartial("_Sidebar");}
                <!-- index -->
                @RenderBody()
            </section>
          


                        <!-- ============================ FOOOOOOTER ================================-->                    
                        <h3></h3>
                        <h3></h3>
                        <h3></h3>
                        <footer id="footer">
                            Copyright © 2016 Alex Matias &amp; Brenda Haro

                        </footer>

                        <!-- Page Loader -->
                        <div class="page-loader">
                            <div class="preloader pls-blue">
                                <svg class="pl-circular" viewBox="25 25 50 50">
                                    <circle class="plc-path" cx="50" cy="50" r="20" />
                                </svg>

                                <p>Procesando...</p>
                            </div>
                        </div>
                            
                        <!-- Older IE warning message -->
                        <!--[if lt IE 9]>
                        <div class="ie-warning">
                            <h1 class="c-white">Warning!!</h1>
                            <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
                            <div class="iew-container">
                                <ul class="iew-download">
                                    <li>
                                        <a href="http://www.google.com/chrome/">
                                            <img src="img/browsers/chrome.png" alt="">
                                            <div>Chrome</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                                            <img src="img/browsers/firefox.png" alt="">
                                            <div>Firefox</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://www.opera.com">
                                            <img src="img/browsers/opera.png" alt="">
                                            <div>Opera</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.apple.com/safari/">
                                            <img src="img/browsers/safari.png" alt="">
                                            <div>Safari</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                                            <img src="img/browsers/ie.png" alt="">
                                            <div>IE (New)</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <p>Sorry for the inconvenience!</p>
                        </div>
                    <![endif]-->


                        <!-- Javascript Libraries -->
                        <script src="@Url.Content("~/Scripts/js/jquery.min.js")"></script>
                        <script src="@Url.Content("~/Scripts/js/bootstrap.min.js")"></script>

                        <script src="@Url.Content("~/Scripts/js/jquery.flot.js")"></script>
                        <script src="@Url.Content("~/Scripts/js/jquery.flot.resize.js")"></script>
                        <script src="@Url.Content("~/Scripts/js/curvedLines.js")"></script>
                        <script src="@Url.Content("~/Scripts/js/jquery.sparkline.min.js")"></script>
                        <script src="@Url.Content("~/Scripts/js/jquery.easypiechart.min.js")"></script>

                        <script src="@Url.Content("~/Scripts/js/moment.min.js")"></script>
                        <script src="@Url.Content("~/Scripts/js/fullcalendar.min.js")"></script>
                        <script src="@Url.Content("~/Scripts/js/jquery.simpleWeather.min.js")"></script>
                        <script src="@Url.Content("~/Scripts/js/waves.min.js")"></script>
                        <script src="@Url.Content("~/Scripts/js/bootstrap-growl.min.js")"></script>
                        <script src="@Url.Content("~/Scripts/js/sweet-alert.min.js")"></script>
                        <script src="@Url.Content("~/Scripts/js/jquery.mCustomScrollbar.concat.min.js")"></script>
            

                        <!-- Placeholder for IE9 -->
                        <!--[if IE 9 ]>
                        <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
                    <![endif]-->



                        <script src="@Url.Content("~/Content/js/flot-charts/curved-line-chart.js")"></script>
                        <script src="@Url.Content("~/Content/js/flot-charts/line-chart.js")"></script>
                        <script src="@Url.Content("~/Content/js/charts.js")"></script>

                        <script src="@Url.Content("~/Content/js/charts.js")"></script>
                        <script src="@Url.Content("~/Content/js/functions.js")"></script>
                        <script src="@Url.Content("~/Content/js/demo.js")"></script>

        </body>
    </html>
